SetEnv PHP_VER 4

RewriteEngine On

# Redirection canonique : www.kizako.ch → kizako.ch
RewriteCond %{HTTP_HOST} ^www\.kizako\.ch$ [NC]
RewriteRule ^(.*)$ https://kizako.ch/$1 [R=301,L]

# Permet d'accéder aux fichiers HTML sans l'extension .html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]

# Protection anti-indexation
Header set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet"